.jumbotron.jumbotron-fluid {
  background-image: url("https://i.imgur.com/0C9hvcl.png");
  background-size: cover;
}

.color-me{
  color: white;
}

.jumbotron h1{
  color: #fff;
}

.jumbotron p{
  color: #fff;
}

.jumbotron {
  background-image: url("https://i.imgur.com/8IVI9iW.png");
  background-size:cover;
}

