.jumbotron {
  background-image: url("https://img-s-msn-com.akamaized.net/tenant/amp/entityid/AABFYFo.img?h=0&w=720&m=6&q=60&u=t&o=f&l=f&x=464&y=368");
  background-size: cover;
}

.color-me{
  color: white;
}