.jumbotron.jumbotron-fluid {
  background-image: url("https://i.imgur.com/0C9hvcl.png");
  background-size: cover;
}

.color-me{
  color: white;
}

.jumbotron h1{
  color: #fff;
}

.jumbotron p{
  color: #fff;
}

.jumbotron {
  background-image: url("https://i.imgur.com/8IVI9iW.png");
  background-size:cover;
}

.carousel-caption.d-none.d-md-block .p {
  color: black;
}

.card .card-body {
  padding-left: 80px;
}

.btn.btn-primary {
  background-color: gray !important;

}

